html {
  scroll-behavior : smooth;
}

body {
  color     : $primary;
  font-size : 16px;

  &.is-scroll-locked {
    overflow : hidden;
    position : relative;
  }

  &.has-overlay {
    overflow : hidden;
  }
}

a {
  color           : inherit;
  text-decoration : none;
}

/* stylelint-disable */
a,
p a,
ol li a,
ul li a {
  cursor          : pointer;
  text-decoration : none;

  &:focus,
  &:hover {
    outline : 0;
  }
}
