/** @define o-button */
@mixin o-button {
  @include ts-button;
  cursor           : pointer;
  align-items      : center;
  color            : $primary;
  height           : 2.5rem;
  display          : inline-flex;
  gap              : var(--space-xs);
  background-color : $tertiary;
  padding          : 0.625rem 1.125rem;
  transition       : background-color 0.3s;
  border-radius    : 2.75rem;

  /* stylelint-disable */
  &:focus,
  &:hover {
    background-color : $peach-2;
  }

  @include media("<=tablet") {
    padding : 0.25rem 0.875rem;
    height  : 2rem;
  }
}

.o-button {
  @include o-button;

  &--small {
    @include ts-tag;
    height  : 2rem;
    padding : 0.5rem 0.75rem;

    @include media("<=tablet") {
      height : 1.75rem;
    }
  }

  &--white {
    background-color : transparent;
    border           : 0.0625rem solid $white;
    color            : $white;

    &:focus,
    &:hover {
      background-color : rgba($primary, 0.4);
    }
  }

  &--secondary {
    background-color : $yellow-light;

    &:focus,
    &:hover {
      background-color : $yellow-dark;
    }
  }

  &--tertiary {
    background-color : transparent;
    border           : 0.0625rem solid $primary;

    &:focus,
    &:hover {
      background-color : $grey-light;
    }
  }
}
