/** @define o-section */
.o-section {
  $c      : &;
  padding : var(--space-3xl) 0;

  & + & {
    padding-top : 0;
  }

  &__header {
    @include grid;
    border-top    : 1px solid $grey-light;
    margin-bottom : var(--space-2xl);
    padding-top   : var(--space-xs);
  }

  &__heading {
    @include ts-heading-2;
    grid-column : 1 / -1;
  }

  &__description {
    @include ts-body($small : true);
    grid-column : 1 / 8;
    margin-top  : var(--space-xs);

    @include media("<tablet") {
      grid-column : 1 / -1;
    }
  }

  &__button {
    margin-top : var(--space-2xl);

    /* stylelint-disable-next-line */
    .rtl & {
      flex-direction : row-reverse;
      /* stylelint-disable-next-line */
      svg {
        transform : rotateY(180deg);
      }
    }
  }

  /* Modifiers
  ================================================== */
  &--has-background {
    #{$c}__header {
      border-color : $white;
    }
  }

  &--grey-background {
    background-color : $grey-light;
  }

  &--has-background + &,
  & + &--has-background {
    padding-top : var(--space-3xl);
  }

  /* stylelint-disable-next-line */
  &--grey-background + &--grey-background {
    margin-top  : 0;
    padding-top : 0;
  }
}
