{% set classes = [
  'c-quote',
  'o-section',
  'o-section--has-background'
] %}

{% if content.field_quotation|field_value %}
  <figure{{ attributes.addClass(classes) }}>
    <div class="o-container">
      <blockquote class="c-quote__text">{{ content.field_quotation|field_raw('value') }}</blockquote>

      {% if content.field_quote_author|field_value %}
        <figcaption class="c-quote__caption">{{ content.field_quote_author }}</figcaption>
      {% endif %}
    </div>
  </figure>
{% endif %}
