/* #Miscellaneous
================================================== */
.u-hidden {
  display : none;
}

.u-accessible-hide {
  @include accessible-hide;
}

.u-anchor {
  display    : block;
  margin-top : -8.75rem;
  position   : absolute;
  visibility : hidden;
}
