{% if language_direction == 'rtl' %}
  {% set rtl = true %}
{% endif %}

{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
  rtl ? 'rtl'
] %}

<article{{ attributes.addClass(classes).setAttribute('dir', language_direction) }}>
  {% include "@nrgi/node-partials/node--single-header.html.twig" %}
  <div class="c-single-content {% if content.field_featured_image|field_value %} c-single-content--has-featured-image {% endif %}
">
    <div class="c-single-content__top js-sidebar-container">
      {# FEATURED IMAGE #}
      {% if content.field_featured_image|field_value %}
        <div class="c-single-content__image-container js-image-container">
          <div class="c-single-content__image-wrapper">
            {{ content.field_featured_image }}
          </div>
        </div>
      {% endif %}

      {#  SIDEBAR #}
      <div class="c-single-content__sidebar js-sidebar">
        {% include '@nrgi/node-partials/node--sidebar.html.twig' with {
          'layout_modifier': 'c-meta-rows--sidebar'
        } %}
      </div>
    </div>

    {% if content.field_page_builder|field_value %}
      {{ content.field_page_builder }}
    {% endif %}
  </div>

  {# For mobile #}
  {% include '@nrgi/node-partials/node--metadata.html.twig' with {
    'layout_modifier': 'c-meta-rows--mobile'
  } %}
</article>
