{# Filters, submit, reset, and other action buttons #}
  {% if form['#filters'] is not empty %}
    <div class="c-filters">

      {% for key in form['#filters'] %}
        {% if attribute(form, key) is defined %}
          {{ attribute(form, key) }}
        {% endif %}
      {% endfor %}

      {% for key in form['#submit_buttons'] %}
        {% if attribute(form, key) is defined %}
          {{ attribute(form, key) }}
        {% endif %}
      {% endfor %}

    </div>
  {% endif %}

  {# Sorters #}
  {% if form['#sorters'] is not empty %}
    {% for key in form['#sorters'] %}
      {% if attribute(form, key) is defined %}
        {{ attribute(form, key) }}
      {% endif %}
    {% endfor %}
  {% endif %}

  {# Output whatever is left unrendered such as hidden fields. #}
  {% for key, value in form %}
    {% if
      not key starts with '#'
      and key not in form['#filters']
      and key not in form['#sorters']
      and key not in form['#submit_buttons'] %}
      {{ value }}
    {% endif %}
  {% endfor %}
