// A 12 column grid.
@mixin grid {
  display               : grid;
  grid-column-gap       : var(--gutter);
  grid-template-columns : repeat(12, 1fr);

  @include media("<=tablet") {
    grid-template-columns : repeat(4, 1fr);
  }
}

@mixin o-container {
  box-sizing    : border-box;
  margin-left   : auto;
  margin-right  : auto;
  max-width     : calc(#{$max-width} + var(--gutter) * 2);
  padding-left  : var(--gutter);
  padding-right : var(--gutter);
  width         : 100%;
}
