{% for item in items %}
  <a class="o-button o-button--white"
     href="{{ item.content['#url'] }}"
     title="{{ item.content['#title'] }}">
    {% include '@nrgi/svg/svg.html.twig' with {'svg': 'arrow-right', 'extra_class': 'c-homepage-banner__link-svg' } %}

    {{ item.content['#title'] }}
  </a>
{% endfor %}
