/* stylelint-disable */
.block-local-tasks-block {
  background-color : #333333;
  color            : #CCCCCC;
  display          : block;
  font-family      : "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
  font-size        : 12px;
  height           : 30px;
  position         : relative;
  width            : 100%;
  z-index          : 20;

  .tabs {
    display : block;
    margin  : 0;

    li {
      display      : block;
      float        : left;
      margin-right : 0;

      a {
        display : block;
        padding : var(--space-xs) var(--space-m);

        &.is-active {
          background-color : $primary;
        }

        &:hover,
        &:focus {
          background-color : $primary;
        }
      }
    }
  }
}
