.c-quote {
  background-color : $tertiary;

  &__text {
    @include ts-heading-3;
    position : relative;

    &:after,
    &:before {
      position : absolute;
    }

    &:before {
      content   : "“";
      left      : 0;
      transform : translateX(-100%);
    }

    &:after {
      content : "”";
    }

    .rtl & {
      &:before,
      &:after {
        display : none;
      }
    }
  }

  &__caption {
    @include ts-body;
    font-weight : 500;
    margin-top  : var(--space-s);
  }
}
