/** @define c-single-content */
.c-single-content {
  $c : &;

  /* stylelint-disable-next-line */
  & + .o-section:not(.o-section--has-background) {
    padding-top : 0;
  }

  &__top {
    @include o-container;
    @include grid;
    padding-bottom : calc(var(--sidebar-height) + (6rem * 2));
    position       : relative;

    /* stylelint-disable-next-line */
    & + .o-section--has-background {
      margin-top : var(--space-3xl);
    }
  }

  &__image-container {
    grid-column : 1 / 9;
    position    : relative;
    z-index     : 4;
  }

  &__sidebar {
    grid-column : 10 / -1;
    max-width   : 17.6875rem;
    position    : absolute;
    right       : 0;
    top         : var(--space-3xl);

    @include media("<=tablet") {
      display : none;
    }
  }

  &--has-featured-image {
    #{$c}__image-container {
      margin-top : -4rem;

      @include media("<=tablet") {
        margin-top : -3.75rem;
      }
    }
  }
}
