/* Core
================================================== */
$primary         : #2D2D32; // Granite
$secondary       : #00545A; // Ocean
$tertiary        : #FF7D5F; // Peach

/* Full Palette
================================================== */
$black           : #000000;
$blue-light      : #B3EFEF;
$grey-light      : #EDEDEF;
$grey-light-2    : #E1E1E3;
$ocean-2         : #007078;
$peach-2         : #ED7053;
$turquoise-dark  : #00B5B4;
$turquoise-light : #00C9C8;
$white           : #FFFFFF;
$yellow-dark     : #E6C162;
$yellow-light    : #FFD66D;
